<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1cba66ca-187c-4cee-a376-7c163d1286a3" name="ProductMaster_ProductMasterBinding TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="1cba66ca-187c-4cee-a376-7c163d1286a3fileName">ProductMaster_ProductMasterBinding-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>