<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="707c07b3-e697-4853-b98e-a000e7f99ab0" created="2.2.0" activeEnvironment="Default environment" name="EBM REST" resourceRoot="" updated="2.6.0" encryptionMode="Not encrypted" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:savedRecentRuns>1</con:savedRecentRuns><con:requirements/><con:properties/><con:wssContainer/><con:databaseConnectionContainer><con:databaseConnection><con:name>EBM_DATABASE1</con:name><con:driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</con:driver><con:connectionString>jdbc:sqlserver://128.1.101.19:49972;databaseName=EBM_NDB_1;user=sndpro;password=PASS_VALUE</con:connectionString><con:password>sqa@123</con:password><con:connectionProperties/></con:databaseConnection></con:databaseConnectionContainer><con:jmsConnectionContainer/><con:oAuth2ProfileContainer/><con:oAuth1ProfileContainer/><con:reporting/><con:authRepository/><con:tags/></con:soapui-project>