<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="992c9eb3-d636-4864-9d03-1ce9e9602eb1" name="Field level" xmlns:con="http://eviware.com/soapui/config"><con:description>Field level mapping of CSDP Column </con:description><con:settings><con:setting id="IncludeOverview">true</con:setting><con:setting id="IncludeResults">true</con:setting><con:setting id="FlowLayout">false</con:setting><con:setting id="ErrorDetails">true</con:setting><con:setting id="IncludeCoverage">true</con:setting><con:setting id="992c9eb3-d636-4864-9d03-1ce9e9602eb1fileName">Field-level</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>