<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="7697aee3-0055-4bc7-ac75-6704580ccb80" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://ws043" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="7697aee3-0055-4bc7-ac75-6704580ccb80fileName">http%3A%2F%2Fws043</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://ws043</con:endpoint></con:endpoints></con:interface>